<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".ChameleonReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wx.action.CHAMELEON" />
            </intent-filter>
            <meta-data
                android:name="chameleon_page"
                android:resource="@xml/chameleon_page" />
        </receiver>
    </application>
</manifest>
